@media print {
   
    @page {
      size: a3 !important;
    }

    .map-container {
        width: 992px !important;
    }

    .input-container {
        width: 1000px !important;
        
    }

    .right-side-container {

    }

    .table-container {
        width: 1350px !important;
        break-before: always !important;
    }

    .nav-container {
        display: none !important;
    }

    .bottom-nav-container {
        display: none !important;
    }

    .foot-container {
        break-before: always !important;
    }
  }