@media print {
   
    @page {
      size: a3 !important;
    }

    .map-container {
        width: 992px !important;
        
        
    }

    .input-container {
        width: 950px !important;
        
    }

    .input-table-container {
        
    }

    .table-container {
        
    }

    .nav-container {
        display: none !important;
    }

    .bottom-nav-container {
        display: none !important;
    }

    .foot-container {
        break-before: always !important;
    }
  }